beautifulsoup4>=4.5.3
boto>=2.46.1
boto3>=1.4.4
chardet>=2.3.0
celery
Cython>=0.25.2
future
fuzzywuzzy>=0.15.0
nltk>=3.2.2
numpy>=1.12.0
pandas>=0.19.2
polyglot
python-dateutil>=2.6.0
python-Levenshtein>=0.12.0
pytz>=2016.10
requests>=2.13.0
scandir>=1.5
scipy>=0.18.1
simplejson>=3.10.0
stopit>=1.1.1
tld>=0.7.9
tqdm>=4.11.2
unicode
Unidecode>=0.4.20
