Unidecode>=1.1.1
beautifulsoup4>=4.10.0
boto>=2.49.0
chardet>=4.0.0
fake_useragent>=0.1.11
lxml>=4.4.2
nilsimsa>=0.3.8
numpy>=1.18.1
pandas>=0.25.3
requests>=2.25.1
scandir>=1.10.0
six>=1.16.0
ssdeep>=3.4
stopit>=1.1.2
tldextract>=2.2.2
zipcodes>=1.1.0
